.CoinInfo.greyWrapper {
  padding: 1rem;
  max-width: 93%;
}
.coinInfoHeading,
.coinInfoDescription {
  margin: 1rem;
}
.coinInfoDescription {
  margin-top: 0;
}
.coinInfoDescription span {
  cursor: pointer;
  color: var(--grey);
}
.coinInfoDescription a {
  text-decoration: underline;
}
.coinInfoDescription a:hover {
  color: var(--blue);
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 800px) {
  .CoinInfo.greyWrapper {
    max-width: 85%;
  }
  .coinInfoHeading{
    font-size: 1rem;
  }
  .coinInfoDescription{
    font-size: 0.8rem;
  }
}
