.tabButton.MuiButtonBase-root,
.tabButton.Mui-selected {
  color: var(--white) !important;
  width: 50vw;
  font: normal normal 600 1.2rem/100% "Inter";
  text-transform: capitalize;
}
.tabButton.Mui-selected {
  color: var(--blue) !important;
}
.CoinTabContainer .css-1aquho2-MuiTabs-indicator {
  background-color: var(--blue) !important;
}
.gridFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 1.5rem 2rem;
}
.listTable {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1100px) {
  .listTable {
    width: 100%;
  }  
}